<section class="ranking-page">
  <h2>Ranking strzelców</h2>

  @if (!players().length) {
    <p class="empty-state">Ładowanie danych...</p>
  }

  @if (players().length > 0) {
    <div class="grid-container-centered">
      <ag-grid-angular
        class="ag-theme-material"
        [rowData]="players()"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [domLayout]="'normal'"
        [suppressMenuHide]="true"
        [animateRows]="true"
        style="height: 600px">
      </ag-grid-angular>
    </div>
  }
</section>